:root {
  --color-primary: #f4af4f;
  --color-primary-hover: #e8a13e;
  --color-primary-active: #dc932f;
  --color-primary-text: #3a2304;
  --color-primary-soft: #faecd4;
  --color-page: #fffaf2;
  --color-surface: #fff;
  --color-border: #c9c9c9;
  --color-border-hover: #969696;
  --color-muted-text: #766650;

  font-family: 'IBM Plex Sans JP', sans-serif;
  color: var(--color-primary-text);
  background: var(--color-page);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

html {
  min-width: 320px;
  background: var(--color-page);
}

body {
  min-width: 320px;
  min-height: 100svh;
  margin: 0;
}

#root {
  min-height: 100svh;
}

button,
input {
  font: inherit;
}
